<div class="header">
  <div class="text">Header</div>
</div>
<div class="rectangle">
  <div class="levelMeter" [ngStyle]="{ height: '70%' }">
    <div *ngIf="value <= details.warnings[0]; else elseblock">
      <div *ngIf="value <= details.alarm[0]; else minimum">
        <div class="alarm">Below minimum alarm limit</div>
      </div>
    </div>
    <ng-template #minimum>
      <div class="alarm" [ngStyle]="{ color: '#cb6c1c' }">
        Below minimum warning limit
      </div>
    </ng-template>
    <div *ngIf="value >= details.warnings[1]; else elseblock">
      <div *ngIf="value >= details.alarm[1]; else maximum">
        <div class="alarm">Above maximum alarm limit</div>
      </div>
    </div>
    <ng-template #maximum>
      <div class="alarm" [ngStyle]="{ color: '#cb6c1c' }">
        Above maximum warning limit
      </div>
    </ng-template>

    <div
      *ngIf="
        value >= details.warnings[1] && value >= details.alarm[1];
        else elseblock
      "
    >
      <div class="alarm">Above maximum alarm limit</div>
    </div>
    <ng-template #elseblock>
      <div class="fill" [ngStyle]="{ height: fillHeight + '%' }"></div>
      <div class="processValue">{{ value }}{{ details.unit }}</div>
      <div class="maxValue">{{ details.maxValue }}</div>
      <div class="minValue">{{ details.minValue }}</div>
      <div
        class="alarmBar"
        [ngStyle]="{ bottom: alarmMaxBarPosition + '%' }"
      ></div>
      <div class="alarmValue" [ngStyle]="{ bottom: alarmMaxBarPosition + '%' }">
        {{ details.alarm[1] | number: "1.1" }}
      </div>
      <div
        class="alarmBar"
        [ngStyle]="{ bottom: alarmBarPosition + '%' }"
      ></div>
      <div class="alarmValue" [ngStyle]="{ bottom: alarmBarPosition + '%' }">
        {{ details.alarm[0] | number: "1.1" }}
      </div>
      <div
        class="warningBar"
        [ngStyle]="{ bottom: warningMaxBarPosition + '%' }"
      ></div>
      <div
        class="warningValue"
        [ngStyle]="{ bottom: warningMaxBarPosition + '%' }"
      >
        {{ details.warnings[1] | number: "1.1" }}
      </div>
      <div
        class="warningBar"
        [ngStyle]="{ bottom: warningBarPosition + '%' }"
      ></div>
      <div
        class="warningValue"
        [ngStyle]="{ bottom: warningBarPosition + '%' }"
      >
        {{ details.warnings[0] | number: "1.1" }}
      </div>
    </ng-template>
  </div>
</div>
<h4>Default State</h4>
