.rectangle {
  display: flex;
  border: 2px solid #575656;
  width: 20em;
  height: 30em;
  background-color: rgb(69, 75, 85);
  margin: 2em;
}
.header {
  background-color: #575656;
  width: 20.3em;
  height: 3em;
  color: white;
  margin-left: 2em;
  text-align: center;
  bottom: 0;
  margin-top: 3em;
  margin-bottom: -2em;
}
.text {
  margin-top: 6px;
  padding-top: 1em;
  font-weight: bolder;
}
.levelMeter {
  flex: 1 1 auto;
  width: 10px;
  border: 2px solid white;
  background-color: rgb(69, 75, 85);
  margin-top: 3em;
  margin-right: 9em;
  margin-bottom: 3em;
  margin-left: 9em;
  position: relative;
}

h4 {
  flex: 1 1 auto;
  margin-top: 0px;
  margin-left: 9em;
  color: #cb6c1c;
}
.fill {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #6dbac4;
}
.processValue {
  color: white;
  margin-bottom: 5em;
  position: absolute;
  top: 109%;
  left: 0em;
  font-size: 26px;
}
.minValue {
  color: gray;
  position: absolute;
  top: 97%;
  left: -8em;
}
.maxValue {
  color: gray;
  position: absolute;
  top: -4%;
  left: -8em;
}
.warningValue {
  color: #cb6c1c;
  position: absolute;
  left: -2.5em;
  margin-bottom: -0.5em;
}
.alarmValue {
  color: red;
  position: absolute;
  left: 2.5em;
  margin-bottom: -0.5em;
}
.warningBar {
  width: 29px;
  height: 2px;
  background-color: #cb6c1c;
  position: absolute;
  left: 0em;
}
.alarmBar {
  width: 29px;
  height: 2px;
  background-color: red;
  position: absolute;
  left: 0em;
}
.alarm {
  position: absolute;
  width: 20em;
  height: 30em;
  color: red;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 6em;
}
